{% include "aldryn_facebook/snippets/_jssdk.html" %}

<div class="fb-activity" 
	{% if instance.site %} data-site="{{ instance.site }}" {% endif %}
	{% if instance.action %} data-action="{{ instance.action }}" {% endif %}
	data-header="{{ instance.show_header|lower }}" 
	data-recommendations="{{ instance.show_recommendations|lower }}" 
	data-width="{{ instance.width }}" 
	{% if instance.height %} data-height="{{ instance.height }}" {% endif %} 
	{% if instance.ref %} data-ref="{{ instance.ref }}" {% endif %}
	{% include "aldryn_facebook/snippets/_common_attrs.html" %}
	></div>
