{% include "aldryn_facebook/snippets/_jssdk.html" %}

<div class="fb-page"
    data-href="{{ instance.href }}"
	{% if instance.width %}data-width="{{ instance.width }}" {% endif %}
	{% if instance.height %} data-height="{{ instance.height }}" {% endif %} 
	data-hide-cover="{{ instance.hide_cover|lower }}"
	data-show-facepile="{{ instance.show_facepile|lower }}"
	data-show-posts="{{ instance.show_posts|lower }}"
	data-small-header="{{ instance.use_small_header|lower }}"
	data-adapt-container-width="{{ instance.adapt_width }}"
	{% include "aldryn_facebook/snippets/_common_attrs.html" %}>
	<div class="fb-xfbml-parse-ignore"><blockquote cite="{{ instance.href }}"><a href="{{ instance.href }}">{{ instance.href }}</a></blockquote></div>
</div>

